<div class="da-list-wrap">
  <div class="da-content-wrapper">
    <da-layout-row [daGutter]="[12, 12]">
      <da-col-item [daSpan]="24" [daXs]="24" [daMm]="24">
        <div class="da-list-container">
          <div class="da-list-header">
            <div class="da-header-left">
              <da-layout-row [daSpace]="15" [daAlign]="'center'">
                <da-layout-col>
                  <div class="da-header-item-label">{{ 'studio.jobCode' | translate }}:</div>
                </da-layout-col>
                <da-layout-col>
                  <input dTextInput name="jobCode" [(ngModel)]="searchFormConfig.jobCode" (keyup.enter)="refreshTable()" />
                </da-layout-col>
                <da-layout-col>
                  <div class="da-header-item-label">{{ 'studio.jobName' | translate }}:</div>
                </da-layout-col>
                <da-layout-col>
                  <input dTextInput name="jobName" [(ngModel)]="searchFormConfig.jobName" (keyup.enter)="refreshTable()" />
                </da-layout-col>
                <da-layout-col>
                  <div class="da-header-item-label">{{ 'studio.jobType' | translate }}:</div>
                </da-layout-col>
                <da-layout-col>
                  <d-select
                    [options]="jobTypeList"
                    name="jobType"
                    [filterKey]="'label'"
                    [allowClear]="true"
                    [(ngModel)]="searchFormConfig.jobType"
                    [extraConfig]="{ selectedItemWithTemplate: { enable: true } }"
                    (valueChange)="refreshTable()"
                    style="width: 168px"
                  >
                    <ng-template let-option="option"> {{ option['label'] }} </ng-template>
                  </d-select>
                </da-layout-col>
                <da-layout-col>
                  <div class="da-header-item-label">{{ 'studio.runtimeState' | translate }}:</div>
                </da-layout-col>
                <da-layout-col>
                  <d-select
                    [options]="runtimeStateList"
                    name="runtimeState"
                    [filterKey]="'label'"
                    [allowClear]="true"
                    [(ngModel)]="searchFormConfig.runtimeState"
                    [extraConfig]="{ selectedItemWithTemplate: { enable: true } }"
                    (valueChange)="refreshTable()"
                    style="width: 168px"
                  >
                    <ng-template let-option="option"> {{ option['label'] }} </ng-template>
                  </d-select>
                </da-layout-col>
              </da-layout-row>
            </div>
            <div class="header-right">
              <d-button style="margin-right: 8px" bsStyle="primary" (btnClick)="refreshTable()">{{
                'app.common.operate.query.label' | translate
              }}</d-button>
              <d-button bsStyle="common" (btnClick)="reset()">{{ 'app.common.operate.reset.label' | translate }}</d-button>
            </div>
          </div>
        </div>
      </da-col-item>
    </da-layout-row>

    <da-layout-row [daGutter]="[12, 12]">
      <da-col-item [daXs]="5" [daMm]="24">
        <div class="da-list-container" style="min-height: calc(100vh - 216px)">
          <div class="da-list-header">
            <div class="header-left table-title">{{ 'studio.directory' | translate }}</div>
          </div>
          <d-operable-tree
            #operableTree
            style="padding-top: 12px"
            [tree]="dirList"
            [treeNodeIdKey]="'id'"
            [treeNodeTitleKey]="'directoryName'"
            [treeNodeChildrenKey]="'children'"
            [checkable]="false"
            [draggable]="false"
            (nodeChecked)="onDirChecked($event)"
          >
            <ng-template #operatorTemplate let-optree let-node="node">
              <span
                *ngIf="authService.hasPrivilege(PRIVILEGE_CODE.studioDirAdd)"
                class="op-icons icon icon-add"
                (click)="openAddDirDialog($event, node)"
              ></span>
              <span
                *ngIf="authService.hasPrivilege(PRIVILEGE_CODE.studioDirEdit)"
                class="op-icons icon icon-edit"
                (click)="openEditDirDialog($event, node)"
              ></span>
              <span
                *ngIf="authService.hasPrivilege(PRIVILEGE_CODE.studioDirDelete)"
                class="op-icons icon icon-close"
                (click)="openDeleteDirDialog($event, node)"
              ></span>
            </ng-template>
          </d-operable-tree>
        </div>
      </da-col-item>
      <da-col-item [daXs]="19" [daMm]="24">
        <div class="da-list-container">
          <div class="da-list-header">
            <div class="header-left table-title">{{ 'studio.project' | translate }} : {{ defaultProjectCode }}</div>
            <div class="header-right">
              <d-button-group>
                <div dDropDown [closeScope]="'all'" *ngIf="authService.hasPrivilege(PRIVILEGE_CODE.studioJobAdd)">
                  <d-button bsStyle="primary" dDropDownToggle class="devui-dropdown-origin border-remove">
                    {{ 'app.common.operate.new.label' | translate }}
                    <span class="icon-chevron-down"></span>
                  </d-button>
                  <ul dDropDownMenu class="devui-dropdown-menu devui-scrollbar devui-dropdown-overlay" role="menu">
                    <li role="menuitem">
                      <a class="devui-dropdown-item">
                        <d-button bsStyle="primary" (btnClick)="openAddJobDialog('r')">
                          {{ 'studio.job.realtime' | translate }}
                        </d-button>
                      </a>
                    </li>
                    <li role="menuitem">
                      <a class="devui-dropdown-item">
                        <d-button bsStyle="primary" (btnClick)="openAddJobDialog('b')">
                          {{ 'studio.job.batch' | translate }}
                        </d-button>
                      </a>
                    </li>
                  </ul>
                </div>
                <d-button
                  *ngIf="authService.hasPrivilege(PRIVILEGE_CODE.studioJobDelete)"
                  bsStyle="common"
                  (btnClick)="openDeleteJobDialog(dataTable.getCheckedRows())"
                  [disabled]="!dataTableChecked"
                  >{{ 'app.common.operate.delete.label' | translate }}</d-button
                >
              </d-button-group>
            </div>
          </div>
          <div class="list-content" id="dataTableContent">
            <d-data-table
              #dataTable
              [dataSource]="dataTableDs"
              [resizeable]="true"
              [checkable]="true"
              [tableLayout]="'fixed'"
              [scrollable]="true"
              [fixHeader]="true"
              (rowCheckChange)="getDataTableCheckedStatus()"
              (checkAllChange)="getDataTableCheckedStatus()"
            >
              <d-column field="jobCode" header="{{ 'studio.jobCode' | translate }}">
                <d-cell>
                  <ng-template let-cellItem="cellItem">{{ cellItem }}</ng-template>
                </d-cell>
              </d-column>
              <d-column field="jobName" header="{{ 'studio.jobName' | translate }}">
                <d-cell>
                  <ng-template let-cellItem="cellItem">{{ cellItem }}</ng-template>
                </d-cell>
              </d-column>
              <d-column field="jobType" header="{{ 'studio.jobType' | translate }}">
                <d-cell>
                  <ng-template let-cellItem="cellItem">{{ cellItem?.label }}</ng-template>
                </d-cell>
              </d-column>
              <d-column field="jobStatus" header="{{ 'studio.jobStatus' | translate }}">
                <d-cell>
                  <ng-template let-cellItem="cellItem">{{ cellItem?.label }}</ng-template>
                </d-cell>
              </d-column>
              <d-column field="runtimeState" header="{{ 'studio.runtimeState' | translate }}">
                <d-cell>
                  <ng-template let-cellItem="cellItem">{{ cellItem?.label }}</ng-template>
                </d-cell>
              </d-column>
              <!-- <d-column field="directory" header="{{ 'studio.directory' | translate }}">
                <d-cell>
                  <ng-template let-cellItem="cellItem">{{ cellItem?.fullPath }}</ng-template>
                </d-cell>
              </d-column> -->
              <!-- <d-column field="remark" header="{{ 'studio.remark' | translate }}">
                <d-cell>
                  <ng-template let-cellItem="cellItem">{{ cellItem }}</ng-template>
                </d-cell>
              </d-column> -->
              <d-column field="jobVersion" header="{{ 'studio.jobVersion' | translate }}">
                <d-cell>
                  <ng-template let-cellItem="cellItem">{{ cellItem }}</ng-template>
                </d-cell>
              </d-column>
              <d-column field="createTime" header="{{ 'studio.createTime' | translate }}">
                <d-cell>
                  <ng-template let-cellItem="cellItem">{{ cellItem | date: 'yyyy-MM-dd HH:mm' }}</ng-template>
                </d-cell>
              </d-column>
              <d-column field="updateTime" header="{{ 'studio.updateTime' | translate }}">
                <d-cell>
                  <ng-template let-cellItem="cellItem">{{ cellItem | date: 'yyyy-MM-dd HH:mm' }}</ng-template>
                </d-cell>
              </d-column>
              <d-column field="actions" header="{{ 'app.common.operate.label' | translate }}">
                <d-cell>
                  <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex">
                    <div class="btn-group">
                      <d-button
                        *ngIf="authService.hasPrivilege(PRIVILEGE_CODE.studioJobEdit)"
                        icon="icon-run"
                        bsStyle="text-dark"
                        (click)="openEditJobDialog(rowItem)"
                        title="{{ 'studio.job.run' | translate }}"
                      ></d-button>
                      <d-button
                        *ngIf="authService.hasPrivilege(PRIVILEGE_CODE.studioJobEdit)"
                        icon="icon-stop"
                        bsStyle="text-dark"
                        (click)="openEditJobDialog(rowItem)"
                        title="{{ 'studio.job.stop' | translate }}"
                      ></d-button>
                      <a href="workbench" target="_blank">
                        <d-button
                          *ngIf="authService.hasPrivilege(PRIVILEGE_CODE.studioJobEdit)"
                          icon="icon-go-pipeline"
                          bsStyle="text-dark"
                          (click)="openEditJobDialog(rowItem)"
                          title="{{ 'studio.job.pipeline.define' | translate }}"
                        ></d-button>
                      </a>
                      <d-button
                        *ngIf="authService.hasPrivilege(PRIVILEGE_CODE.studioJobEdit)"
                        icon="icon-edit"
                        bsStyle="text-dark"
                        (click)="openEditJobDialog(rowItem)"
                        title="{{ 'app.common.operate.edit.label' | translate }}"
                      ></d-button>
                      <d-button
                        *ngIf="authService.hasPrivilege(PRIVILEGE_CODE.studioJobDelete)"
                        icon="icon-delete"
                        bsStyle="text-dark"
                        (click)="openDeleteJobDialog([rowItem])"
                        title="{{ 'app.common.operate.delete.label' | translate }}"
                      ></d-button>
                      <d-button
                        *ngIf="authService.hasPrivilege(PRIVILEGE_CODE.studioJob)"
                        icon="icon-setup"
                        bsStyle="text-dark"
                        (click)="openDeleteJobDialog([rowItem])"
                        title="{{ 'studio.job.detail' | translate }}"
                      ></d-button>
                    </div>
                  </ng-template>
                </d-cell>
              </d-column>
            </d-data-table>
          </div>
          <div class="da-list-footer">
            <div class="footer-left"></div>
            <div class="footer-right">
              <d-pagination
                size=""
                [total]="pager.total"
                [(pageSize)]="pager.pageSize"
                [(pageIndex)]="pager.pageIndex"
                [canViewTotal]="true"
                [canChangePageSize]="true"
                [canJumpPage]="true"
                [maxItems]="5"
                (pageIndexChange)="refreshTable()"
                (pageSizeChange)="refreshTable()"
              >
              </d-pagination>
            </div>
          </div>
        </div>
      </da-col-item>
    </da-layout-row>
  </div>
</div>
