<div [dMovable]="true" [handle]="header" [moveEl]="parent">
  <div class="modal-header" #header>{{ data.title }}</div>
  <div class="modal-body" style="padding: 10px 24px 15px">
    <span> {{ 'app.common.operate.delete.confirm.content' | translate }}</span>
  </div>
  <div class="modal-footer" style="text-align: right; padding-right: 48px">
    <d-button style="margin-right: 4px" bsStyle="common" (click)="data.onClose($event)">{{
      'app.common.operate.cancel.label' | translate
    }}</d-button>
    <d-button bsStyle="primary" (btnClick)="delete()">{{ 'app.common.operate.confirm.label' | translate }}</d-button>
  </div>
</div>
