<div [dMovable]="true" [handle]="header" [moveEl]="parent">
  <div class="modal-header" #header>{{ 'app.common.operate.new.title' | translate: data.title }}</div>
  <form dForm ngForm [layout]="'horizontal'" [dValidateRules]="formConfig.rule" #form="dValidateRules" (dSubmit)="submitForm($event)">
    <div class="modal-body" style="padding: 12px 48px 0px 48px">
      <d-form-item>
        <d-form-label [required]="true">{{ 'admin.deptCode' | translate }}</d-form-label>
        <d-form-control>
          <input dTextInput name="deptCode" [(ngModel)]="formData.deptCode" [dValidateRules]="formConfig.deptCodeRules" />
        </d-form-control>
      </d-form-item>
      <d-form-item>
        <d-form-label [required]="true">{{ 'admin.deptName' | translate }}</d-form-label>
        <d-form-control>
          <input dTextInput name="deptName" [(ngModel)]="formData.deptName" [dValidateRules]="formConfig.deptNameRules" />
        </d-form-control>
      </d-form-item>
      <d-form-item>
        <d-form-label>{{ 'admin.pid' | translate }}</d-form-label>
        <d-form-control>
          <input dTextInput name="pid" [(ngModel)]="formData.pid" [dValidateRules]="formConfig.pidRules" [disabled]="true"/>
        </d-form-control>
      </d-form-item>
    </div>
    <div class="modal-footer" style="text-align: right; padding-right: 48px">
      <d-form-operation>
        <d-button style="margin-right: 4px" bsStyle="common" (click)="data.onClose($event)">{{
          'app.common.operate.cancel.label' | translate
        }}</d-button>
        <d-button bsStyle="primary" dFormSubmit>{{ 'app.common.operate.confirm.label' | translate }}</d-button>
      </d-form-operation>
    </div>
  </form>
</div>
