<div class="da-list-wrap">
  <div class="da-content-wrapper">
    <da-layout-row [daGutter]="[24, 24]">
      <da-col-item [daSpan]="24" [daXs]="24" [daMm]="24">
        <div class="da-list-container">
          <div class="da-list-header">
            <div class="da-header-left">
              <da-layout-row [daSpace]="15" [daAlign]="'center'">
                <da-layout-col>
                  <div class="da-header-item-label">{{ 'meta.systemCode' | translate }}:</div>
                </da-layout-col>
                <da-layout-col>
                  <input dTextInput name="systemCode" [(ngModel)]="searchFormConfig.systemCode" (keyup.enter)="refreshTable()" />
                </da-layout-col>
                <da-layout-col>
                  <div class="da-header-item-label">{{ 'meta.systemName' | translate }}:</div>
                </da-layout-col>
                <da-layout-col>
                  <input dTextInput name="systemName" [(ngModel)]="searchFormConfig.systemName" (keyup.enter)="refreshTable()" />
                </da-layout-col>
              </da-layout-row>
            </div>
            <div class="header-right">
              <d-button style="margin-right: 8px" bsStyle="primary" (btnClick)="refreshTable()">{{
                'app.common.operate.query.label' | translate
              }}</d-button>
              <d-button bsStyle="common" (btnClick)="reset()">{{ 'app.common.operate.reset.label' | translate }}</d-button>
            </div>
          </div>
        </div>
      </da-col-item>
    </da-layout-row>

    <da-layout-row [daGutter]="[24, 24]" style="margin-top: -10px">
      <da-col-item [daSpan]="24" [daXs]="24" [daMm]="24">
        <div class="da-list-container">
          <div class="da-list-header">
            <div class="header-left"></div>
            <div class="header-right">
              <d-button-group>
                <d-button
                  *ngIf="authService.hasPrivilege(PRIVILEGE_CODE.metaSystemAdd)"
                  bsStyle="primary"
                  (btnClick)="openAddSystemDialog()"
                  >{{ 'app.common.operate.new.label' | translate }}</d-button
                >
                <d-button
                  *ngIf="authService.hasPrivilege(PRIVILEGE_CODE.metaSystemDelete)"
                  bsStyle="common"
                  (btnClick)="openDeleteSystemDialog(dataTable.getCheckedRows())"
                  [disabled]="!dataTableChecked"
                  >{{ 'app.common.operate.delete.label' | translate }}</d-button
                >
              </d-button-group>
            </div>
          </div>
          <div class="list-content" id="dataTableContent">
            <d-data-table
              #dataTable
              [dataSource]="dataTableDs"
              [resizeable]="true"
              [checkable]="true"
              [size]="'md'"
              [tableLayout]="'fixed'"
              [scrollable]="true"
              [fixHeader]="true"
              (rowCheckChange)="getDataTableCheckedStatus()"
              (checkAllChange)="getDataTableCheckedStatus()"
            >
              <d-column field="systemCode" header="{{ 'meta.systemCode' | translate }}">
                <d-cell>
                  <ng-template let-cellItem="cellItem">{{ cellItem }}</ng-template>
                </d-cell>
              </d-column>
              <d-column field="systemName" header="{{ 'meta.systemName' | translate }}">
                <d-cell>
                  <ng-template let-cellItem="cellItem">{{ cellItem }}</ng-template>
                </d-cell>
              </d-column>
              <d-column field="contacts" header="{{ 'meta.contacts' | translate }}">
                <d-cell>
                  <ng-template let-cellItem="cellItem">{{ cellItem }}</ng-template>
                </d-cell>
              </d-column>
              <d-column field="contactsPhone" header="{{ 'meta.contactsPhone' | translate }}">
                <d-cell>
                  <ng-template let-cellItem="cellItem">{{ cellItem }}</ng-template>
                </d-cell>
              </d-column>
              <d-column field="remark" header="{{ 'meta.remark' | translate }}">
                <d-cell>
                  <ng-template let-cellItem="cellItem">{{ cellItem }}</ng-template>
                </d-cell>
              </d-column>
              <d-column field="createTime" header="{{ 'meta.createTime' | translate }}">
                <d-cell>
                  <ng-template let-cellItem="cellItem">{{ cellItem | date: 'yyyy-MM-dd HH:mm' }}</ng-template>
                </d-cell>
              </d-column>
              <d-column field="updateTime" header="{{ 'meta.updateTime' | translate }}">
                <d-cell>
                  <ng-template let-cellItem="cellItem">{{ cellItem | date: 'yyyy-MM-dd HH:mm' }}</ng-template>
                </d-cell>
              </d-column>
              <d-column field="actions" header="{{ 'app.common.operate.label' | translate }}">
                <d-cell>
                  <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex">
                    <div class="btn-group over-flow-ellipsis">
                      <d-button
                        *ngIf="authService.hasPrivilege(PRIVILEGE_CODE.metaSystemEdit)"
                        icon="icon-edit"
                        bsStyle="text-dark"
                        (click)="openEditSystemDialog(rowItem)"
                        title="{{ 'app.common.operate.edit.label' | translate }}"
                      ></d-button>
                      <d-button
                        *ngIf="authService.hasPrivilege(PRIVILEGE_CODE.metaSystemDelete)"
                        icon="icon-delete"
                        bsStyle="text-dark"
                        (click)="openDeleteSystemDialog([rowItem])"
                        title="{{ 'app.common.operate.delete.label' | translate }}"
                      ></d-button>
                    </div>
                  </ng-template>
                </d-cell>
              </d-column>
            </d-data-table>
          </div>
          <div class="da-list-footer">
            <div class="footer-left"></div>
            <div class="footer-right">
              <d-pagination
                size=""
                [total]="pager.total"
                [(pageSize)]="pager.pageSize"
                [(pageIndex)]="pager.pageIndex"
                [canViewTotal]="true"
                [canChangePageSize]="true"
                [canJumpPage]="true"
                [maxItems]="5"
                (pageIndexChange)="refreshTable()"
                (pageSizeChange)="refreshTable()"
              >
              </d-pagination>
            </div>
          </div>
        </div>
      </da-col-item>
    </da-layout-row>
  </div>
</div>
